<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
	<title>Cadastro de Estilos de Cerveja</title>
	<!-- CSS de terceiros -->
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>

<body>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>Cadastro de Estilos de Cerveja</h1>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" th:object="${estilo}" class="form-vertical  js-form-loading">
			
			<th:block th:include="fragments/MensagemSucesso"></th:block>
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>

			<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
				<label for="nome" class="control-label">Nome</label>
				<input	id="nome" type="text" class="form-control" placeholder="Nome" th:field="*{nome}"/>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>

		</form>
	</div>

	<div th:replace="/estilo/CadastroRapidoEstilo :: modal"></div>
</section>

<!-- Este bloco faz com  que o código javascript seja incluído no final da página de layout. -->
<!-- Isso previne que o código javascript seja carregado no tempo errado. -->
<th:block layout:fragment="javascript-extra">
	<!-- javascripts de terceiros -->
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>
</th:block>
	
</body>
</html>